# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
GoogleService-Info.plist
lib/ominfan-e31c7-firebase-adminsdk-putlv-d22e1fef1f.json
# typescript
*.tsbuildinfo

app-example
.gitignore
temp.json
__pycache__/
data/
testing/
keys/